/* === コンポーネント === */

/* テキスト */
address{
    font-size: .8em;
    font-style: normal;
    opacity: .6;
}

.uppercase{
    text-transform: uppercase;
}

/* ボタン */

.btn{
    color: #086459;
    cursor: pointer;
    padding: 20px 36px;
    background: #99DCD3;
    border: 2px solid #FFF;
    small{
        display: block;
        font-size: .6em;
        margin-top: 2px;
    }
}

.btn-large{
    width: 100%;
}

.btn-black,
.checked{
    background: #FFF;
}


/* フォームコントローラ */

label{
    position: relative;
}

input[type="radio"]{
    position: absolute;
    visibility: hidden;
}

/* スクロールバー */
.scroll {
    padding-bottom: 4px;
    overflow-x: scroll;
}

.scroll::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #99DCD3;
}

.scroll::-webkit-scrollbar-thumb {
    background: #59C2B5;
    border-radius: 4px;
}


/* ======================== */

/* レイアウト */
html,
body{
    text-align: center;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    background: #59C3B6;
}

header,
main{
    width: 80%;
    margin: 0 auto;
}

header{
        h1{
            small{
                display: block;
                font-size: .3em;
            }
        }
}

/* main */

main{
    * {
        margin-top: 10px;
    }
}

/* footer */

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: 100vh;
    padding: 10px;
    color: #000;
    background: #FFF;
    a{
        color: #000;
    }
}



/* ステップ */

#firstStep{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    height: 70vh;
    background:#9DDCD4 url('../images/bg-dragarea.svg') center center no-repeat;
    background-size: 50% 50%;
    box-shadow: 0 1px 3px rgba(57,152,140,0.12), 0 1px 2px rgba(57,152,140,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

    &:hover{
        box-shadow: 0 14px 28px rgba(57,152,140,0.25), 0 10px 10px rgba(57,152,140,0.22);
    }

    p{
        display: none;
        font-size: 1.6em;
    }
}


#secondStep {
    display: none;
    flex-flow: column;
    justify-content: flex-end;
    height: 70vh;
    padding: 10px 20px;
    background: #9DDCD4;

    #preview{
        display: flex;
        flex: auto;
        align-items: center;
        break-inside: avoid;
        padding: 0px 20px;
        border: 2px dotted #FFF;

        img{
            /* 画像が見易くなるように高さを制限 */
            width: auto;
            height: 200px;

            // スクロールバーとの隙間確保
            margin-bottom: 10px;
        }
    }

    form{
        display: flex;

        label{
            flex: 1 1 auto;
            box-sizing: content-box;
            margin-left: 10px;

            &:first-child{
                margin-left: 0;
            }
        }

        // 画面が狭いとき
        @media (max-width: 570px) {
            display: block;

            label{
                flex: none;
                display: block;
                margin-left: auto;

                &:first-child{
                    margin-left: auto;
                }
            }
        }
    }

    .download{
        #download{
            display: block;
            margin: 18px 0px 16px;
            padding: 20px 36px;
            font-size: 1em;

            img{
                width: 1.6em;
            }
        }
    }
}

.ui-sortable-helper{
    /* ドラッグ時の見た目 */
    border: 10px solid #FFF;
    transform:rotate(-10deg);
    /* box-shadow */
    box-shadow:0px 2px 15px 2px rgba(0,0,0,0.18);
    -moz-box-shadow:0px 2px 15px 2px rgba(0,0,0,0.18);
    -webkit-box-shadow:0px 2px 15px 2px rgba(0,0,0,0.18);
}
