/* === 色 === */
$text-color: #EFB6AE;
$btn-color: #363334;
$box-color: #424041;
$scrollbar-color: #363334;
$border-color: #4a4849;

/* === コンポーネント === */

/* テキスト */
address{
    font-size: .8em;
    font-style: normal;
    opacity: .6;
}

.uppercase{
    text-transform: uppercase;
}

/* ボタン */

.btn{
    color: $text-color;
    cursor: pointer;
    padding: 20px 36px;
    background: transparent;
    border: none;
    border-radius: 10px;
    small{
        display: block;
        font-size: .6em;
        margin-top: 2px;
    }
}

.btn-large{
    width: 100%;
}

.btn-black,
.checked{
    background: $btn-color;
}


/* フォームコントローラ */

label{
    position: relative;
}

input[type="radio"]{
    position: absolute;
    visibility: hidden;
}

/* スクロールバー */
.scroll {
    padding-bottom: 4px;
    overflow-x: scroll;
}

.scroll::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: $box-color;
}

.scroll::-webkit-scrollbar-thumb {
    background: $scrollbar-color;
    border-radius: 4px;
}

/* ======================== */

/* レイアウト */
html,
body{
    height: 100%;
    text-align: center;
    color: $box-color;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    background-size: cover;

    // gradient
    background: #d9a7c7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #fffcdc, #d9a7c7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #fffcdc, #d9a7c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

header,
main{
    width: 80%;
    margin: 0 auto;
}

header{
    h1{
        small{
            display: block;
            font-size: .3em;
        }
    }
}

/* main */

main{
    * {
        margin-top: 10px;
    }
}

/* footer */

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: 100vh;
    padding: 10px;
    color: $box-color;
    font-size: .8em;
    background: #FFF;
    a{
        color: #000;
    }
}



/* ステップ */

#firstStep,
#secondStep{
    border-radius: 10px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    box-shadow: 0 1px 3px rgba($box-color, 0.2),
                0 1px 2px rgba($box-color, 0.2);

    &:hover{
        box-shadow: 0 14px 28px rgba($box-color, 0.6),
                    0 10px 10px rgba($box-color, 0.6);
    }
}

#firstStep{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    height: 70vh;
    background: url('../images/bg-dragarea.svg') center center no-repeat;
    background-color: $box-color;
    background-size: 50% 50%;

    p{
        display: none;
        font-size: 1.6em;
    }
}


#secondStep {
    display: none;
    flex-flow: column;
    justify-content: flex-end;
    height: 70vh;
    padding: 10px 20px;
    border-radius: 10px;
    background-color:$box-color;

    #preview{
        display: flex;
        flex: auto;
        align-items: center;
        break-inside: avoid;
        padding: 0px 20px;
        border-radius: 10px;
        border: 1px solid $border-color;

        img{
            /* 画像が見易くなるように高さを制限 */
            width: auto;
            height: 200px;

            // スクロールバーとの隙間確保
            margin-bottom: 10px;
        }
    }

    form{
        display: flex;

        label{
            flex: 1 1 auto;
            box-sizing: content-box;
            margin-left: 10px;

            &:first-child{
                margin-left: 0;
            }
        }

        // 画面が狭いとき
        @media (max-width: 570px) {
            display: block;

            label{
                flex: none;
                display: block;
                margin-left: auto;

                &:first-child{
                    margin-left: auto;
                }
            }
        }
    }

    .download{
        #download{
            display: block;
            margin: 18px 0px 16px;
            padding: 20px 36px;
            font-size: 1em;

            .svg-entity{
                display: none;
            }
            .svg-controlwithcss{
                .icon-download-item{
                    fill: $text-color;
                }
            }
        }
    }
}

.ui-sortable-helper{
    /* ドラッグ時の見た目 */
    border: 10px solid #FFF;
    transform:rotate(-10deg);
    /* box-shadow */
    box-shadow:0px 2px 15px 2px rgba(0,0,0,0.18);
    -moz-box-shadow:0px 2px 15px 2px rgba(0,0,0,0.18);
    -webkit-box-shadow:0px 2px 15px 2px rgba(0,0,0,0.18);
}
