/* === コンポーネント === */

/* テキスト */
.uppercase{
    text-transform: uppercase;
}

/* ボタン */

.btn{
    cursor: pointer;
    padding: 20px 36px;
    border: 2px solid;
}

.btn-large{
    width: 100%;
}

.btn-border:hover{}

.btn-black{
    color: #FFF;
    background: rgb(23, 44, 59);
    border: 2px solid rgb(23, 44, 59);
}

.btn-black:hover{
    background: #222;
}

/* フォームコントローラ */

label{
    position: relative;
}

input[type="radio"]{
    position: absolute;
    visibility: hidden;
}

.checked{
    color: #FFF;
    background-color: rgb(23, 44, 59);
}

/* ======================== */

/*ドロップ可能範囲*/

html, body {
    width: 100%;
    height: calc(100vh - 50px);
    margin: 0;
    padding: 0;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    background: rgb(236, 236, 236);
}

/* レイアウト */
html, body{
    text-align: center;
}

header,
main{
    width: 80%;
    margin: 0 auto;
}

header h1 small{
    display: block;
    font-size: .3em;
}

/* main */

main * {
    margin-top: 10px;
}

/* footer */

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: 100vh;
    padding: 10px;
    color: #FFF;
    background: #222;
}

footer a{
    color: #FFF;
}

/* ステップ */

#firstStep{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    height: 70vh;
    background:#FFF url('bg-dragarea.svg') top center no-repeat;
    background-size: cover;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#firstStep:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#firstStep p{
    font-size: 1.6em;
}

#secondStep {
    display: none;
    margin-bottom: 80px;
}

/* 画像が見易くなるように高さを制限 */

#preview{
    overflow: auto;
    padding: 10px 20px;
    background: #FFF;
    break-inside: avoid;

    /* ホバー時に影がにょーん */
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#preview .S {
    width: auto;
    height: 200px;
}

#preview .M {
    width: auto;
    height: 250px;
}

#preview .L {
    width: auto;
    height: 300px;
}

.ui-sortable-helper{
    border: 10px solid #FFF;

    /* box-shadow */
    box-shadow:0px 2px 15px 2px rgba(0,0,0,0.18);
    -moz-box-shadow:0px 2px 15px 2px rgba(0,0,0,0.18);
    -webkit-box-shadow:0px 2px 15px 2px rgba(0,0,0,0.18);

    transform:rotate(-10deg);
}

/* 描写部分 */
#secondStep form{
    display: flex;
}

label{
    flex: 1 1 auto;
    box-sizing: content-box;
    margin-left: 10px;
}

label:first-child{
    margin-left: 0;
}

#download{
    display: block;
    margin: 18px 0 68px;
    padding: 20px 36px;
    font-size: 1em;
    letter-spacing: .125em
}

#download img{
    width: 1.6em;
}
