/*ドロップ可能範囲*/

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* レイアウト */
html, body{
    text-align: center;
}

header,
main{
    width: 80%;
    margin: 0 auto;
}

/* main */

main * {
    margin-top: 10px;
}

/* footer */

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: 100vh;
    padding: 10px;
    color: #FFF;
    background: #222;
}

footer a{
    color: #FFF;
}

/** {border: 1px solid #ddd;}*/

/* ステップ */

#secondStep {
    display: none;
    margin-bottom: 80px;
}

/* 画像が見易くなるように高さを制限 */

#preview{
    padding: 10px 20px;
    background: #ededed;
    border: 1px solid #ddd;
    break-inside: avoid;
}

#preview .S {
    width: auto;
    height: 200px;
}

#preview .M {
    width: auto;
    height: 250px;
}

#preview .L {
    width: auto;
    height: 300px;
}

/* 描写部分 */
#photos{
    background-color: #222;
    border: 1px solid #000;
}

#secondStep form{
    display: flex;
}

label{
    flex: 1 1 auto;
    box-sizing: content-box;
    margin-left: 10px;
}

label:first-child{
    margin-left: 0;
}

#download{
    display: block;
}

#download img{
    width: 1.6em;
}

/* ボタン */

.btn{
    cursor: pointer;
    padding: 6px 12px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: none;
}

.btn-border{
    background: #FFF;
    border: 1px solid #2196f3;
}

.btn-border:hover{
    background: #fff9c4;
    border: 1px solid #1e88e5;
}

.btn-large{
    width: 100%;
}

.btn-blue{
    color: #FFF;
    background: #42a5f5;
}

.btn-blue:hover{
    background: #64B5F6;
}
